@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7f7;
}

.head_text {
  @apply text-5xl mt-5 leading-[1.15] sm:text-6xl font-extrabold;
}
.title_text {
  @apply text-3xl mt-5 leading-[1.15] sm:text-6xl font-extrabold;
}

.purple_gradient {
  @apply bg-gradient-to-r from-purple-700 via-violet-600 to-blue-500 bg-clip-text text-transparent;
}

.desc {
  @apply text-lg text-slate-500;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* @media screen and (min-width: 320px) {
    .wrap {
      max-width: 320px;
      padding: 0 0.5rem;
    }
  }
  @media screen and (min-width: 456px) {
    .wrap {
      max-width: 456px;
      padding: 0 0.5rem;
    }
  } */
@media screen and (min-width: 640px) {
  .wrap {
    max-width: 640px;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .wrap {
    max-width: 768px;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .wrap {
    max-width: 1024px;
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .wrap {
    max-width: 1280px;
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1536px) {
  .wrap {
    max-width: 1536px;
    padding: 0 18rem;
  }
}
